<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml"
      xmlns:th="http:/ /www.thymeleaf.org">
<head>
  <title>Taco Cloud</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
<h1>Add new Ingredient!</h1>
<img th:src="@{/images/TacoCloud.png}"/>
<form method="POST" th:object="${ingredient}">
  <div class="grid">
    <div class="ingredient-group" id="wraps">
      <h3>Ingredient ID:</h3>
      <div>
        <input type="text" name="id"/>
      </div>
    </div>
    <div class="ingredient-group" id="proteins">
      <h3>Ingredient name:</h3>
      <div>
        <input type="text" name="name"/>
      </div>
    </div>
    <div class="ingredient-group" id="cheeses">
      <h3>Ingredient Type:</h3>
      <div>
        <input type="text" name="type"/>
      </div>
    </div>

  </div>
  <div>

    <br/>
    <button>Submit Your Taco</button>
  </div>
</form>
</body>
</html>